/* Intro & Menu */

.intro {
  height: 100vh;
  width: 100vw;
  cursor: pointer;
}

.intro .image-container {
  position: absolute;
  width: 800px;
  height: 100px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.intro img {
  opacity: 0;
  animation-name: image-in;
  animation-delay: 2s;
  animation-duration: 0.01s;
  animation-fill-mode: forwards;
}

.image-container .block-1 {
  height: 100%;
  width: 50%;
  left: 50px;
  position: absolute;
  background: #990101;
  animation-name: scroll-1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.image-container .block-2 {
  height: 100%;
  width: 0%;
  left: 50px;
  position: absolute;
  background: #669acc;
  animation-name: scroll-2;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.image-container .block-3 {
  height: 100%;
  width: 0%;
  left: 50px;
  position: absolute;
  background: #3266cc;
  animation-name: scroll-3;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.image-container .block-4 {
  height: 100%;
  width: 0%;
  left: 50px;
  z-index: 111;
  position: absolute;
  background: #039;
  animation-name: scroll-4;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes image-in {
  0%  {opacity: 0}
  100% {opacity: 1}
}

@keyframes scroll-1 {
  0%  {left: 0px; width: 0px}
  50% {left: 0px; width: 800px}
  100%{left: 737px; width: 63px}
}

@keyframes scroll-2 {
  0%  {left: 0px; width: 0px}
  50% {left: 0px; width: 737px}
  100%{left: 674px; width: 63px}
}

@keyframes scroll-3 {
  0%  {left: 0px; width: 0px}
  50% {left: 0px; width: 674px}
  100%{left: 611px; width: 63px}
}

@keyframes scroll-4 {
  0%  {left: 0px; width: 0px}
  50% {left: 0px; width: 611px}
  100%{left: 548px; width: 63px}
}

.splitter {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border-bottom: solid;
  border-width: 1.5px;
  border-color: rgb(10, 47, 59);
}
.menu-container {
  position: absolute;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 10px;
  /* justify-content: center; */
  flex-wrap: wrap;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  overflow: scroll;
  overflow-x: hidden;
  padding: 50px;
  padding-top: 10px;
  background: rgb(241, 241, 241);
}


.menu-header {
  display: inline;
  text-align: center;
  height: 50px;
  color: #0F5F7A;
  height: auto;

}

.menu-window {
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 350px;
  height: 175px;
  /* text-align: center; */
}

.menu-window-content {
  z-index: +1;
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  width: 100%;
  height: 100%;
  /* background-color: #d1f1ff; */
  /* background-image: url("./temp.png"); */
  cursor: pointer;
  overflow: hidden;
}

.menu-window-content-left {
  z-index: +1;
  /* display: table; */
  width: 130px;
  justify-content: center;
  margin: 0px;
  height: 100%;
  background: #114B5F;
  margin: auto;

}


.menu-window-content-left > h2 {
  /* display: table-cell; */
  /* vertical-align: middle; */
  padding-top: 75px;
  margin-left: 10px;
  color: rgb(228, 242, 247);
  font-size: 22px;


}


.menu-window-content-right {
  width: 220px;
  height: 100%;
}

.menu-window-content-right > img {
  max-width: 100%;
  max-height: 100%;
  opacity: 0.8;
  transition: opacity 0.5s
}

.menu-window-content:hover > .menu-window-content-left {
  animation-name: backgroundcolor;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.menu-window-content:hover > .menu-window-content-right > img {
  opacity: 1.0
}



/* .menu-window-content:hover{
  animation-name: float;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
} */

/* @keyframes float {
  0% {transform: translateY(0px)}
  100% {transform:translateY(-5px)}
} */

@keyframes backgroundcolor {
  0% {background: #114B5F}
  100%{background: rgb(11, 49, 61)}
}






/* Application */

.wrapper{
  width: 100%;
  height: 100%;
}

.nav-bar-container {
  /* text-align: center; */
  margin-left: 3%;
  margin-right: 3%;
}

.nav-bar {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  grid-auto-rows: auto;
  height: 48px;
  z-index: 200;
  border-bottom: solid;
  border-width: 1.5px;
  border-color: #114B5F;
  width: 98%;
}

.nav-bar > * {
  padding-top: 20px;
}

.nav-bar .nb1{
  font-size: 100%;
}

.nav-bar .nb1 img{
  height: 20px;
  width: 20px;
  background: #f1f1f1;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  cursor: pointer;
}
.nav-bar > * > h2{
  cursor: pointer;
  transition: color 0.3s;
  width: auto;
}

.nav-bar > * > h2:hover {
  color: rgb(196, 15, 15)
}



.content {
  position: absolute;
  text-align: center;
  width: 100%;
  height: calc(100% - 50px)
}


.left {
  height: 100%;
  background: rgb(241, 241, 241);
  width: 35%;
  height: 100%;
  float: left
}

label {
  cursor: pointer;
}

.molecule-canvas {
  background: rgb(241, 241, 241);
  margin-top: 5%;
  margin-left: 10%;
  height: 60%;
  width: 90%;
  cursor: pointer;
}

.button-panel {
  background: #ffd4d1;
  width: 100%;
  margin-top: 3%;
  margin-left: 10%;
  height: auto;
}

.right {
  float: right;
  background:rgb(241, 241, 241);
  width: 65%;
  height: 100%;
  /* width: auto; */
  object-fit: contain;
  overflow: scroll;
}

/* .ir-spectrum-container {
  margin-top: 2.5%;
  margin-left: 2.5%;
  object-fit: contain;
  background: #000000;
} */

.ir-spectrum-container {
  max-width:100%;
  height: auto
}


.info {
  color: #0F5F7A;
  font-size: 18px;
}