*{
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: 'Libre Franklin', sans-serif;
}

#root {
    height: 100%;
    width:  100%;
    background: rgb(241, 241, 241);
    color: #DB1515;
}